body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.card{
    width: 300px;
    height: 500px;
    padding: 20px;

}

.product{
    width: 300px;
    height: 500px;
    margin-left: 60%;
    margin-right: auto;
    margin-top: 39px;
}
.container{
    
    box-shadow:rgb(77, 2, 14) 12px 12px 20px;
    background-color: white;
    position: absolute;
    width: 300px;
    height: 460px;
    left: 39%;
    top: 10%;
    padding: 20px;
}

.category{
    font-family: monospace;
    font-size: 20px;

}

.product_name{
    font-size: 26px;
    font-weight: bold;
}

.product_description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.btn{
    color: black;
    width: 180px;
    height: 40px;
    font-size: bolder;
    color: rgb(250, 252, 252);
    border-radius: 15px;
    outline: none;
    background: #0da5a7;
    border: 0;
    cursor: pointer;
    font-weight: 900; 
    margin-left: 20px;
    transition-duration: .5s;
    box-shadow: #c3caca 20px 12px 0px;
}
.btn:hover{
    background-color: #014141;
     
}


h1{
    color: #0c3a3a;
}
.retail_price{
    font-size: 15px;
    margin-top: 30px;
    color: #068a8a;
}

p, h3, h1{
margin-left: 20px;
}




